
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://www.serlinolab.com/products/omnis-antiage-night-cream","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:24px;--mt-tablet:24px;--mt-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gXFtx4-HO2"].gp-button-base::before, [data-id="gXFtx4-HO2-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="gXFtx4-HO2"]:hover::before, [data-id="gXFtx4-HO2-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gXFtx4-HO2" dataId="gXFtx4-HO2" data-state="idle" aria-label="<p>&gt;&gt;&gt; TRY OMNIS RISK-FREE FOR 60 DAYS &lt;&lt;&lt;</p>"
          
          href="https://www.serlinolab.com/products/omnis-antiage-night-cream" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:16px;--pb-mobile:16px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--bgi:;--bg:#FFD700;--c:#151515;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:700;--size:24px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls-mobile:-0.25px"
          class="gXFtx4-HO2 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:700;--size:24px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls-mobile:-0.25px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggXFtx4-HO2_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  