
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600495993288590181.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600495993288590181.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600495993288590181.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600495993288590181.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600495993288590181.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600495993288590181.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600495993288590181.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600495993288590181.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600495993288590181.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600495993288590181.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600495993288590181.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600495993288590181.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600495993288590181.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600495993288590181.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600495993288590181.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600495993288590181.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600495993288590181.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600495993288590181.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600495993288590181.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600495993288590181.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600495993288590181.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600495993288590181.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600495993288590181.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600495993288590181.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600495993288590181.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600495993288590181.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-600495993288590181.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600495993288590181.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600495993288590181.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-600495993288590181.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-600495993288590181.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600495993288590181.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-600495993288590181.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600495993288590181.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600495993288590181.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600495993288590181.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600495993288590181.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600495993288590181.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600495993288590181.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600495993288590181.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600495993288590181.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600495993288590181.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600495993288590181.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600495993288590181.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-600495993288590181.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600495993288590181.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-600495993288590181.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-600495993288590181.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600495993288590181.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600495993288590181.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-600495993288590181.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-600495993288590181.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600495993288590181.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600495993288590181.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-600495993288590181.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-600495993288590181.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-600495993288590181.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-600495993288590181.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-600495993288590181.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-600495993288590181.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600495993288590181.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-600495993288590181.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600495993288590181.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-600495993288590181.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-600495993288590181.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-600495993288590181.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600495993288590181.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600495993288590181.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-600495993288590181.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-600495993288590181.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-600495993288590181.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-600495993288590181.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-600495993288590181 .gp-relative{position:relative}.gps-600495993288590181 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600495993288590181 .gp-mb-0{margin-bottom:0}.gps-600495993288590181 .gp-flex{display:flex}.gps-600495993288590181 .gp-grid{display:grid}.gps-600495993288590181 .\!gp-hidden{display:none!important}.gps-600495993288590181 .gp-hidden{display:none}.gps-600495993288590181 .gp-max-w-full{max-width:100%}.gps-600495993288590181 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600495993288590181 .gp-flex-col{flex-direction:column}.gps-600495993288590181 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600495993288590181 .gp-duration-200{transition-duration:.2s}.gps-600495993288590181 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-600495993288590181 .tablet\:\!gp-hidden{display:none!important}.gps-600495993288590181 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-600495993288590181 .mobile\:\!gp-hidden{display:none!important}.gps-600495993288590181 .mobile\:gp-hidden{display:none}}.gps-600495993288590181 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F3F3F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTygg8ma5A"}' data-id="gTygg8ma5A" id="gTygg8ma5A" data-same-height-subgrid-container class="gTygg8ma5A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:6px;--pl:20px;--pb:6px;--pr:20px;--pt-tablet:6px;--pl-tablet:20px;--pb-tablet:6px;--pr-tablet:20px;--pt-mobile:6px;--pl-mobile:20px;--pb-mobile:6px;--pr-mobile:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F3F3F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPHLvx5Ao1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gzmDULcbKx"}' data-id="gzmDULcbKx" id="gzmDULcbKx" data-same-height-subgrid-container class="gzmDULcbKx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gqRmFs-JDU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLbp_vdNSe"
        class="gLbp_vdNSe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:8px;--lh:14px;--lh-tablet:180%;--lh-mobile:180%;--c:#051723;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLbp_vdNSe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-600495993288590181 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=600495993187730277&sectionId=600495993288590181)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLbp_vdNSe_text","label":"ggLbp_vdNSe_text","default":"<p>ADVERTORIAL</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}