
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604265714991235759.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604265714991235759.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604265714991235759.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604265714991235759.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604265714991235759.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604265714991235759.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604265714991235759.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604265714991235759.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604265714991235759.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604265714991235759.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604265714991235759.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604265714991235759.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604265714991235759.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604265714991235759.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604265714991235759.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604265714991235759.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604265714991235759.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604265714991235759.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604265714991235759.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604265714991235759.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604265714991235759.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604265714991235759.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604265714991235759.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604265714991235759.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604265714991235759.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604265714991235759.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604265714991235759.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604265714991235759.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604265714991235759.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604265714991235759.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604265714991235759.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604265714991235759.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604265714991235759.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604265714991235759.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604265714991235759.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604265714991235759.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604265714991235759.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604265714991235759.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604265714991235759.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604265714991235759.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604265714991235759.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604265714991235759.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604265714991235759.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604265714991235759.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604265714991235759.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604265714991235759.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604265714991235759.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604265714991235759.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-604265714991235759.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-604265714991235759.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-604265714991235759.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-604265714991235759.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-604265714991235759.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-604265714991235759.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604265714991235759.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604265714991235759.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604265714991235759.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604265714991235759.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604265714991235759.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604265714991235759.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604265714991235759.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604265714991235759.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604265714991235759.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604265714991235759.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604265714991235759.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604265714991235759.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604265714991235759.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604265714991235759.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604265714991235759.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604265714991235759.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604265714991235759.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604265714991235759.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604265714991235759.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604265714991235759.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604265714991235759.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604265714991235759 .gp-relative{position:relative}.gps-604265714991235759 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604265714991235759 .gp-mb-0{margin-bottom:0}.gps-604265714991235759 .gp-flex{display:flex}.gps-604265714991235759 .gp-grid{display:grid}.gps-604265714991235759 .\!gp-hidden{display:none!important}.gps-604265714991235759 .gp-hidden{display:none}.gps-604265714991235759 .gp-w-full{width:100%}.gps-604265714991235759 .\!gp-max-w-none{max-width:none!important}.gps-604265714991235759 .gp-max-w-full{max-width:100%}.gps-604265714991235759 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604265714991235759 .gp-flex-col{flex-direction:column}.gps-604265714991235759 .gp-overflow-hidden{overflow:hidden}.gps-604265714991235759 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-604265714991235759 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604265714991235759 .gp-duration-200{transition-duration:.2s}.gps-604265714991235759 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604265714991235759 .tablet\:\!gp-hidden{display:none!important}.gps-604265714991235759 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604265714991235759 .mobile\:\!gp-hidden{display:none!important}.gps-604265714991235759 .mobile\:gp-hidden{display:none}}.gps-604265714991235759 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604265714991235759 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-604265714991235759 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-604265714991235759 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"tablet":{"attachment":"scroll","color":"#F4F4F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guhi9UR7Cg"}' data-id="guhi9UR7Cg" id="guhi9UR7Cg" data-same-height-subgrid-container class="guhi9UR7Cg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--mb:30px;--pt:0px;--pl:60px;--pb:0px;--pr:60px;--mt-mobile:10px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mt-tablet:20px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgc-tablet:#F4F4F4;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3HMqxQgXb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"tablet":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gWci9armK3"}' data-id="gWci9armK3" id="gWci9armK3" data-same-height-subgrid-container class="gWci9armK3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:350px;--pr:350px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:150px;--pr-tablet:150px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1600px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-tablet:#FFFFFF;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzDDtdkcPF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKMPNHMnkK"
        class="gKMPNHMnkK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:46px;--size-tablet:46px;--size-mobile:32px;--lh:120%;--lh-tablet:130%;--lh-mobile:120%;--ls:-1px;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKMPNHMnkK_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSw3FaJfsv"
        class="gSw3FaJfsv"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:default;--lh-tablet:130%;--lh-mobile:120%;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSw3FaJfsv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVD9vy-6nk"}' data-id="gVD9vy-6nk" id="gVD9vy-6nk" data-same-height-subgrid-container class="gVD9vy-6nk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjF3ihSP3k gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g8hQ9M0M8s" class="g8hQ9M0M8s !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--bblr-mobile:20px;--bbrr-mobile:20px;--btlr-mobile:20px;--btrr-mobile:20px;--pl:0px;--aspect:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g8hQ9M0M8s" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/93cf94fbbf534a6988e475a4544a1b2e.mp4" poster data-poster
      style="--aspect:1/1"
      class="gp-w-full"
      
      loop
      muted
      autoplay
      playsinline
      src="https://cdn.shopify.com/videos/c/o/v/93cf94fbbf534a6988e475a4544a1b2e.mp4"
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-604265714991235759 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=604265302506603179&sectionId=604265714991235759)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKMPNHMnkK_text","label":"ggKMPNHMnkK_text","default":"<span style=\"color:#17162E;\">The Science Behind SerlinoLab</span>"},{"type":"html","id":"ggSw3FaJfsv_text","label":"ggSw3FaJfsv_text","default":"<p>Every year after 40 men <strong>lose 1% of collagen</strong>. SerlinoLab helps counteract this process for a more <strong>toned </strong>and <strong>youthful</strong> face.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}