
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596241764663428076.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596241764663428076.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596241764663428076.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596241764663428076.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596241764663428076.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596241764663428076.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596241764663428076.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596241764663428076.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596241764663428076.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596241764663428076.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596241764663428076.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596241764663428076.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596241764663428076.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596241764663428076.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596241764663428076.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596241764663428076.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596241764663428076.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596241764663428076.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596241764663428076.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596241764663428076.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596241764663428076.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596241764663428076.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596241764663428076.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596241764663428076.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596241764663428076.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596241764663428076.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596241764663428076.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596241764663428076.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596241764663428076.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596241764663428076.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596241764663428076.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596241764663428076.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596241764663428076.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596241764663428076.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596241764663428076.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596241764663428076.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596241764663428076.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596241764663428076.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596241764663428076.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596241764663428076.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-596241764663428076.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596241764663428076.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596241764663428076.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596241764663428076.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596241764663428076.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596241764663428076.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596241764663428076.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-596241764663428076.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596241764663428076.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596241764663428076.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596241764663428076.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596241764663428076.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596241764663428076.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596241764663428076.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-596241764663428076 .gp-relative{position:relative}.gps-596241764663428076 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596241764663428076 .gp-mb-0{margin-bottom:0}.gps-596241764663428076 .gp-inline-block{display:inline-block}.gps-596241764663428076 .gp-flex{display:flex}.gps-596241764663428076 .gp-grid{display:grid}.gps-596241764663428076 .gp-contents{display:contents}.gps-596241764663428076 .\!gp-hidden{display:none!important}.gps-596241764663428076 .gp-hidden{display:none}.gps-596241764663428076 .gp-h-auto{height:auto}.gps-596241764663428076 .gp-h-full{height:100%}.gps-596241764663428076 .gp-w-full{width:100%}.gps-596241764663428076 .gp-max-w-full{max-width:100%}.gps-596241764663428076 .gp-flex-none{flex:none}.gps-596241764663428076 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596241764663428076 .gp-flex-col{flex-direction:column}.gps-596241764663428076 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596241764663428076 .gp-duration-200{transition-duration:.2s}.gps-596241764663428076 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596241764663428076 .tablet\:\!gp-hidden{display:none!important}.gps-596241764663428076 .tablet\:gp-hidden{display:none}.gps-596241764663428076 .tablet\:gp-h-auto{height:auto}.gps-596241764663428076 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596241764663428076 .mobile\:\!gp-hidden{display:none!important}.gps-596241764663428076 .mobile\:gp-hidden{display:none}.gps-596241764663428076 .mobile\:gp-h-auto{height:auto}.gps-596241764663428076 .mobile\:gp-flex-none{flex:none}}.gps-596241764663428076 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0B1F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQgdwm_Z2-"}' data-id="gQgdwm_Z2-" id="gQgdwm_Z2-" data-same-height-subgrid-container class="gQgdwm_Z2- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:20px;--pl:0px;--pb:20px;--pr:0px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#0B1F3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grF8yWUKJO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gQPMo7EnAn"}' data-id="gQPMo7EnAn" id="gQPMo7EnAn" data-same-height-subgrid-container class="gQPMo7EnAn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:40px;--pb:0px;--pr:40px;--pt-mobile:0px;--pl-mobile:24px;--pb-mobile:0px;--pr-mobile:24px;--pt-tablet:0px;--pl-tablet:40px;--pb-tablet:0px;--pr-tablet:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:928px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geIf7BO3op gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLau8fTeFN"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764917658416 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLau8fTeFN"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://omnisuomo.it/cdn/shop/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp?v=14308993209130360104&width=2858" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI4NTgtNjY3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyODU4IiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIGZpbGw9InVybCgjZy0yODU4LTY2NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI4NTgiIHRvPSIyODU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://omnisuomo.it/cdn/shop/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp?v=14308993209130360104&width=2858" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI4NTgtNjY3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyODU4IiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIGZpbGw9InVybCgjZy0yODU4LTY2NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI4NTgiIHRvPSIyODU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://omnisuomo.it/cdn/shop/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp?v=14308993209130360104&width=2858" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI4NTgtNjY3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyODU4IiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg1OCIgaGVpZ2h0PSI2NjciIGZpbGw9InVybCgjZy0yODU4LTY2NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI4NTgiIHRvPSIyODU4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://omnisuomo.it/cdn/shop/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp?v=14308993209130360104&width=2858"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:15%;--w-tablet:15%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-596241764663428076 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596241764596057068&sectionId=596241764663428076)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}