
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-599918691215213413.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-599918691215213413.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-599918691215213413.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-599918691215213413.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-599918691215213413.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-599918691215213413.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-599918691215213413.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-599918691215213413.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-599918691215213413.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-599918691215213413.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-599918691215213413.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-599918691215213413.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-599918691215213413.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-599918691215213413.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-599918691215213413.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-599918691215213413.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-599918691215213413.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-599918691215213413.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-599918691215213413.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-599918691215213413.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-599918691215213413.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-599918691215213413.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-599918691215213413.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-599918691215213413.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-599918691215213413.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-599918691215213413.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-599918691215213413.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-599918691215213413.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-599918691215213413.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-599918691215213413.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-599918691215213413.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-599918691215213413.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-599918691215213413.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-599918691215213413.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-599918691215213413.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-599918691215213413.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-599918691215213413.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-599918691215213413.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-599918691215213413.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-599918691215213413.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-599918691215213413.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-599918691215213413.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-599918691215213413.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-599918691215213413.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-599918691215213413.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-599918691215213413.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-599918691215213413.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-599918691215213413.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-599918691215213413.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-599918691215213413.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-599918691215213413.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-599918691215213413.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-599918691215213413.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-599918691215213413.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-599918691215213413.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-599918691215213413.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-599918691215213413.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-599918691215213413.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-599918691215213413.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-599918691215213413.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-599918691215213413.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-599918691215213413.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-599918691215213413.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-599918691215213413.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-599918691215213413.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-599918691215213413.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-599918691215213413 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-599918691215213413 .gp-relative{position:relative}.gps-599918691215213413 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-599918691215213413 .gp-mb-0{margin-bottom:0}.gps-599918691215213413 .gp-flex{display:flex}.gps-599918691215213413 .gp-grid{display:grid}.gps-599918691215213413 .\!gp-hidden{display:none!important}.gps-599918691215213413 .gp-hidden{display:none}.gps-599918691215213413 .gp-max-w-full{max-width:100%}.gps-599918691215213413 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-599918691215213413 .gp-flex-col{flex-direction:column}.gps-599918691215213413 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-599918691215213413 .gp-duration-200{transition-duration:.2s}.gps-599918691215213413 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-599918691215213413 .tablet\:\!gp-hidden{display:none!important}.gps-599918691215213413 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-599918691215213413 .mobile\:\!gp-hidden{display:none!important}.gps-599918691215213413 .mobile\:gp-hidden{display:none}}.gps-599918691215213413 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#0055B5","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gTygg8ma5A"}' data-id="gTygg8ma5A" id="gTygg8ma5A" data-same-height-subgrid-container class="gTygg8ma5A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:8px;--pl:20px;--pb:8px;--pr:20px;--pt-tablet:8px;--pl-tablet:20px;--pb-tablet:8px;--pr-tablet:20px;--pt-mobile:6px;--pl-mobile:20px;--pb-mobile:6px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#0055B5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPHLvx5Ao1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gzmDULcbKx"}' data-id="gzmDULcbKx" id="gzmDULcbKx" data-same-height-subgrid-container class="gzmDULcbKx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gqRmFs-JDU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5Dd-ulXUO"
        class="g5Dd-ulXUO"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:12px;--size-mobile:11px;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5Dd-ulXUO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="g4Jkup06vo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLbp_vdNSe"
        class="gLbp_vdNSe"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:12px;--size-mobile:8px;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLbp_vdNSe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-599918691215213413 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=599917516357108581&sectionId=599918691215213413)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5Dd-ulXUO_text","label":"gg5Dd-ulXUO_text","default":"<p>★ ★ ★ ★ ★ &nbsp;Over 72,000+ Happy Customers | Made in Italy 🇮🇹</p>"},{"type":"html","id":"ggLbp_vdNSe_text","label":"ggLbp_vdNSe_text","default":"<p>ADVERTORIAL</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}