
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596241764663297004.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596241764663297004.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596241764663297004.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596241764663297004.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596241764663297004.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596241764663297004.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596241764663297004.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596241764663297004.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596241764663297004.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596241764663297004.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596241764663297004.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596241764663297004.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596241764663297004.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596241764663297004.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596241764663297004.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596241764663297004.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596241764663297004.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596241764663297004.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596241764663297004.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596241764663297004.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596241764663297004.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596241764663297004.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596241764663297004.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596241764663297004.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596241764663297004.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596241764663297004.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596241764663297004.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596241764663297004.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596241764663297004.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596241764663297004.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596241764663297004.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596241764663297004.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596241764663297004.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596241764663297004.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596241764663297004.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596241764663297004.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-596241764663297004.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-596241764663297004.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596241764663297004.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596241764663297004.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596241764663297004.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596241764663297004.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596241764663297004.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596241764663297004.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596241764663297004.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596241764663297004.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596241764663297004.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596241764663297004.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596241764663297004.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596241764663297004.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596241764663297004.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596241764663297004.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596241764663297004.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596241764663297004.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596241764663297004.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596241764663297004.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596241764663297004.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-596241764663297004.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596241764663297004.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596241764663297004.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596241764663297004.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596241764663297004.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596241764663297004.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596241764663297004.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-596241764663297004.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-596241764663297004.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596241764663297004.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596241764663297004.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596241764663297004.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596241764663297004.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-596241764663297004.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-596241764663297004.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596241764663297004.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596241764663297004.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596241764663297004.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596241764663297004.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596241764663297004.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596241764663297004.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596241764663297004 .gp-relative{position:relative}.gps-596241764663297004 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596241764663297004 .gp-mb-0{margin-bottom:0}.gps-596241764663297004 .gp-inline-block{display:inline-block}.gps-596241764663297004 .gp-flex{display:flex}.gps-596241764663297004 .gp-grid{display:grid}.gps-596241764663297004 .gp-contents{display:contents}.gps-596241764663297004 .\!gp-hidden{display:none!important}.gps-596241764663297004 .gp-hidden{display:none}.gps-596241764663297004 .gp-h-auto{height:auto}.gps-596241764663297004 .gp-h-full{height:100%}.gps-596241764663297004 .gp-w-full{width:100%}.gps-596241764663297004 .gp-max-w-full{max-width:100%}.gps-596241764663297004 .gp-flex-1{flex:1 1 0%}.gps-596241764663297004 .gp-flex-none{flex:none}.gps-596241764663297004 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596241764663297004 .gp-flex-col{flex-direction:column}.gps-596241764663297004 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596241764663297004 .gp-duration-200{transition-duration:.2s}.gps-596241764663297004 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596241764663297004 .tablet\:\!gp-hidden{display:none!important}.gps-596241764663297004 .tablet\:gp-hidden{display:none}.gps-596241764663297004 .tablet\:gp-h-auto{height:auto}.gps-596241764663297004 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596241764663297004 .mobile\:\!gp-hidden{display:none!important}.gps-596241764663297004 .mobile\:gp-hidden{display:none}.gps-596241764663297004 .mobile\:gp-h-auto{height:auto}.gps-596241764663297004 .mobile\:gp-flex-none{flex:none}}.gps-596241764663297004 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0B1F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#0B1F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxU6pz9k6n"}' data-id="gxU6pz9k6n" id="gxU6pz9k6n" data-same-height-subgrid-container class="gxU6pz9k6n gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:150px;--pt-mobile:var(--g-s-2xl);--pb-mobile:32px;--pt-tablet:var(--g-s-2xl);--pb-tablet:150px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#0B1F3F;--bgc-mobile:#0B1F3F;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6_ksrGfLK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwiZd39hXp"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764917656853 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwiZd39hXp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_768x.webp" srcset="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_768x.webp" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_1024x.webp" srcset="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_1024x.webp" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp" data-src="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd.webp"
        alt=""
        width="100%"
        style="--aspect-tablet:214/80;--aspect-mobile:200/60;--objf:contain;--w:10%;--w-tablet:214px;--w-mobile:200px;--h:100%;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gbHnr-eIRK"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764917656854 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gbHnr-eIRK"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_768x.webp" srcset="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-ff121f03-b7f1-4b81-9a01-e5dc062649fd_768x.webp" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/4367x2638?text=Image" srcset="https://placehold.co/4367x2638?text=Image" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://placehold.co/4367x2638?text=Image" data-src="https://placehold.co/4367x2638?text=Image"
        alt=""
        width="100%"
        style="--aspect-tablet:300/80;--aspect-mobile:auto;--objf:cover;--w:10%;--w-tablet:300px;--w-mobile:30%;--h:130px;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzhLdLEuZ8"
        class="gzhLdLEuZ8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:default;--c:#F2F3F7;--tdl:underline;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggzhLdLEuZ8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMRQiLWQS9"
        class="gMRQiLWQS9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pl:15px;--pr:15px;--ml-mobile:10px;--mr-mobile:10px;--ml-tablet:0px;--pl-tablet:15px;--pr-tablet:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:default;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMRQiLWQS9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-596241764663297004 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596241764596057068&sectionId=596241764663297004)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzhLdLEuZ8_text","label":"ggzhLdLEuZ8_text","default":"<p><a href=\"https://www.serlinolab.com/policies/privacy-policy\"><u>Privacy Policy</u></a></p>"},{"type":"html","id":"ggMRQiLWQS9_text","label":"ggMRQiLWQS9_text","default":"<p><span style=\"font-size:8px;\"><i>The products are reviewed for informational purposes and it is not possible in any way to guarantee certain results, and the chances of success of any result vary from customer to customer. This blog does not represent a journalistic publication as it is updated without any regularity. Therefore, it cannot be considered an editorial product under law no. 62 of 7.03.2001. Some images and reviews present on the blog were found on the web; if you believe they may infringe your rights, please contact us and they will be promptly removed.</i></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}