
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609034078129357472.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609034078129357472.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609034078129357472.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609034078129357472.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609034078129357472.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609034078129357472.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609034078129357472.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609034078129357472.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609034078129357472.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609034078129357472.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609034078129357472.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609034078129357472.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609034078129357472.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609034078129357472.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609034078129357472.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609034078129357472.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609034078129357472.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609034078129357472.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609034078129357472.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609034078129357472.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609034078129357472.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609034078129357472.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-609034078129357472.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609034078129357472.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609034078129357472.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609034078129357472.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609034078129357472.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609034078129357472.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609034078129357472.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609034078129357472.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609034078129357472.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609034078129357472.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-609034078129357472.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609034078129357472.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609034078129357472.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609034078129357472.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609034078129357472.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609034078129357472.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609034078129357472.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609034078129357472.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609034078129357472.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609034078129357472.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609034078129357472.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609034078129357472.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609034078129357472.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609034078129357472.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609034078129357472.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609034078129357472.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609034078129357472.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-609034078129357472.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609034078129357472.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609034078129357472.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609034078129357472.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609034078129357472.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609034078129357472.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609034078129357472.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609034078129357472.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609034078129357472.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609034078129357472.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609034078129357472.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609034078129357472.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609034078129357472 .gp-relative{position:relative}.gps-609034078129357472 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609034078129357472 .gp-mb-0{margin-bottom:0}.gps-609034078129357472 .gp-flex{display:flex}.gps-609034078129357472 .gp-inline-flex{display:inline-flex}.gps-609034078129357472 .gp-grid{display:grid}.gps-609034078129357472 .\!gp-hidden{display:none!important}.gps-609034078129357472 .gp-hidden{display:none}.gps-609034078129357472 .gp-h-full{height:100%}.gps-609034078129357472 .gp-max-w-full{max-width:100%}.gps-609034078129357472 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609034078129357472 .gp-flex-col{flex-direction:column}.gps-609034078129357472 .gp-items-center{align-items:center}.gps-609034078129357472 .gp-justify-center{justify-content:center}.gps-609034078129357472 .gp-overflow-hidden{overflow:hidden}.gps-609034078129357472 .gp-break-words{overflow-wrap:break-word}.gps-609034078129357472 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-609034078129357472 .gp-no-underline{text-decoration-line:none}.gps-609034078129357472 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609034078129357472 .gp-duration-200{transition-duration:.2s}.gps-609034078129357472 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609034078129357472 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609034078129357472 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609034078129357472 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609034078129357472 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609034078129357472 .tablet\:\!gp-hidden{display:none!important}.gps-609034078129357472 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609034078129357472 .mobile\:\!gp-hidden{display:none!important}.gps-609034078129357472 .mobile\:gp-hidden{display:none}}.gps-609034078129357472 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609034078129357472 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--bottom:0px;--left:0px;--pos:fixed;--z:2;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYnBdUmVeM"}' data-id="gYnBdUmVeM" id="gYnBdUmVeM" data-same-height-subgrid-container class="gYnBdUmVeM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG5SUWR0a9 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left" >
        <style>[data-id="gkMvQwLxsF"].gp-button-base::before, [data-id="gkMvQwLxsF-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gkMvQwLxsF"]:hover::before, [data-id="gkMvQwLxsF-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gkMvQwLxsF" dataId="gkMvQwLxsF" data-state="idle" aria-label="Back to Top ↑"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:12px;--pb:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#161723;--bg:#161723;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px"
          class="gkMvQwLxsF gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkMvQwLxsF_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <script id="custom-js-gkMvQwLxsF">
        try {
          //const currentElement = document.getElementsByClassName('gkMvQwLxsF');

document.addEventListener('DOMContentLoaded', function(){

 document.querySelector('.gkMvQwLxsF').addEventListener('click', function(e){
                e.preventDefault();
                document.body.scrollTop = 0; 
                document.documentElement.scrollTop = 0;
              })
              
              
})
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gYnBdUmVeM">
        .gYnBdUmVeM:not(.gp-show) {
    display: none !important;
}
@media screen and (min-width: 989px) {
 .gYnBdUmVeM {
        display: none !important;
    }
}
#storefront .gYnBdUmVeM{
    display: block !important;
}

@media screen and (max-width: 989px) {
  footer.footer {
    margin-bottom: 45px !important;
  }
  
  header.header .btn-custom {
    display: none !important;
  }
}

      </style>
    
      <script id="custom-js-gYnBdUmVeM">
        try {
          //const currentElement = document.getElementsByClassName('gYnBdUmVeM');


document.addEventListener('DOMContentLoaded', function(){
    const sticky = document.querySelector('.gYnBdUmVeM');

   
   window.addEventListener("scroll", () => {
       
     const testimonial = document.querySelector('.gdarNjOTaa').getBoundingClientRect(); 
     
     if(window.scrollY > (testimonial.top + window.scrollY - window.innerHeight /2)){
         sticky.classList.add('gp-show');
     }else{
         sticky.classList.remove('gp-show');
     }
       
       
   });
   
   
})
        } catch(err){}
      </script>
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-609034078129357472 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=609034077961454240&sectionId=609034078129357472)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggkMvQwLxsF_label","label":"ggkMvQwLxsF_label","default":"Back to Top ↑"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}