
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596241764663362540.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596241764663362540.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596241764663362540.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596241764663362540.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596241764663362540.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596241764663362540.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596241764663362540.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596241764663362540.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596241764663362540.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596241764663362540.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596241764663362540.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596241764663362540.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596241764663362540.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596241764663362540.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596241764663362540.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596241764663362540.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596241764663362540.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596241764663362540.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596241764663362540.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596241764663362540.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596241764663362540.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596241764663362540.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596241764663362540.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596241764663362540.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596241764663362540.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596241764663362540.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596241764663362540.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596241764663362540.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596241764663362540.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596241764663362540.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596241764663362540.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596241764663362540.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596241764663362540.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596241764663362540.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596241764663362540.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596241764663362540.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596241764663362540.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596241764663362540.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596241764663362540.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596241764663362540.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596241764663362540.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-596241764663362540.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596241764663362540.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596241764663362540.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596241764663362540.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596241764663362540.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596241764663362540.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596241764663362540.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596241764663362540.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596241764663362540.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596241764663362540.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596241764663362540.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596241764663362540.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596241764663362540.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596241764663362540.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596241764663362540.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596241764663362540.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596241764663362540.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596241764663362540.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596241764663362540.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-596241764663362540.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-596241764663362540.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596241764663362540.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596241764663362540.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596241764663362540.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596241764663362540.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-596241764663362540.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596241764663362540.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596241764663362540.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596241764663362540.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596241764663362540.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596241764663362540.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596241764663362540.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596241764663362540.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596241764663362540.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596241764663362540.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596241764663362540.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-596241764663362540.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596241764663362540.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596241764663362540.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596241764663362540.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596241764663362540.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596241764663362540.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596241764663362540.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596241764663362540.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596241764663362540 .gp-relative{position:relative}.gps-596241764663362540 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596241764663362540 .gp-mb-0{margin-bottom:0}.gps-596241764663362540 .gp-inline-block{display:inline-block}.gps-596241764663362540 .gp-flex{display:flex}.gps-596241764663362540 .gp-grid{display:grid}.gps-596241764663362540 .gp-contents{display:contents}.gps-596241764663362540 .\!gp-hidden{display:none!important}.gps-596241764663362540 .gp-hidden{display:none}.gps-596241764663362540 .gp-h-auto{height:auto}.gps-596241764663362540 .gp-h-full{height:100%}.gps-596241764663362540 .gp-w-full{width:100%}.gps-596241764663362540 .gp-max-w-full{max-width:100%}.gps-596241764663362540 .gp-flex-none{flex:none}.gps-596241764663362540 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596241764663362540 .gp-flex-col{flex-direction:column}.gps-596241764663362540 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596241764663362540 .gp-duration-200{transition-duration:.2s}.gps-596241764663362540 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596241764663362540 .tablet\:\!gp-hidden{display:none!important}.gps-596241764663362540 .tablet\:gp-hidden{display:none}.gps-596241764663362540 .tablet\:gp-h-auto{height:auto}.gps-596241764663362540 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596241764663362540 .mobile\:\!gp-hidden{display:none!important}.gps-596241764663362540 .mobile\:gp-hidden{display:none}.gps-596241764663362540 .mobile\:gp-h-auto{height:auto}.gps-596241764663362540 .mobile\:gp-flex-none{flex:none}}.gps-596241764663362540 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype');
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype');
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gATTm-VLmr"}' data-id="gATTm-VLmr" id="gATTm-VLmr" data-same-height-subgrid-container class="gATTm-VLmr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:2px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:2px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:2px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSUq1TzGXW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXyTIRfrNP"}' data-id="gXyTIRfrNP" id="gXyTIRfrNP" data-same-height-subgrid-container class="gXyTIRfrNP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:40px;--pb:0px;--pr:40px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:40px;--pb-tablet:0px;--pr-tablet:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:928px;--h:auto;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcvfo5MgKj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJsQCTJ3m8"
        class="gJsQCTJ3m8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-heading, heading);--weight:800;--size:35px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:-0.1px;--c:#5594E7;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJsQCTJ3m8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gQMQ_5Iu4W"}' data-id="gQMQ_5Iu4W" id="gQMQ_5Iu4W" data-same-height-subgrid-container class="gQMQ_5Iu4W gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gZwzPoJ-_y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gxD6VIeNrw"}' data-id="gxD6VIeNrw" id="gxD6VIeNrw" data-same-height-subgrid-container class="gxD6VIeNrw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D0D5DD;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:9px;--bbrr:9px;--btlr:9px;--btrr:9px;--mt:10px;--pt:5px;--pl:15px;--pb:5px;--pr:15px;--mt-mobile:10px;--pt-mobile:5px;--pl-mobile:15px;--pb-mobile:5px;--pr-mobile:15px;--mt-tablet:10px;--pt-tablet:5px;--pl-tablet:15px;--pb-tablet:5px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:467px;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwDCkc3-7o gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gJZSvZIvyc"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764917658809 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gJZSvZIvyc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-6dbcd60c-3976-4906-a3b6-cce5ca006aac_768x.webp" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-6dbcd60c-3976-4906-a3b6-cce5ca006aac_1024x.webp" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-6dbcd60c-3976-4906-a3b6-cce5ca006aac.webp" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0781/7075/1319/files/gempages_491166728353481762-6dbcd60c-3976-4906-a3b6-cce5ca006aac.webp"
        alt=""
        width="100%"
        style="--aspect:65/65;--aspect-tablet:65/65;--aspect-mobile:65/65;--objf:cover;--w:65px;--w-tablet:65px;--w-mobile:65px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gfjxawnOzW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g7gtxpAB6Q"}' data-id="g7gtxpAB6Q" id="g7gtxpAB6Q" data-same-height-subgrid-container class="g7gtxpAB6Q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:4px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:38px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:space-between">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gAsKSRUCfa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2Um2avdaF"
        class="g2Um2avdaF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:-0.5px;--c:#0B1F3F;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2Um2avdaF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gCyNI2fA9Q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g3e-fhM-jn"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:right"
      class="gp-group/image gp-relative force-publish-1764917658812 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3e-fhM-jn"
    >
      <div
        
        style="border-radius:inherit;--jc:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.prod.website-files.com/683f59f83bf92662dad61203/6842db6fcd03e55fefe271f4_Verified%20Badge%204.webp?width=2858" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMzItNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIzMiIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMjMyLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjMyIiB0bz0iMjMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.prod.website-files.com/683f59f83bf92662dad61203/6842db6fcd03e55fefe271f4_Verified%20Badge%204.webp?width=2858" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMzItNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIzMiIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMjMyLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjMyIiB0bz0iMjMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cdn.prod.website-files.com/683f59f83bf92662dad61203/6842db6fcd03e55fefe271f4_Verified%20Badge%204.webp?width=2858" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMzItNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIzMiIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjMyIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMjMyLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjMyIiB0bz0iMjMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.prod.website-files.com/683f59f83bf92662dad61203/6842db6fcd03e55fefe271f4_Verified%20Badge%204.webp?width=2858"
        alt=""
        width="100%"
        style="--aspect:80/21;--aspect-tablet:80/21;--aspect-mobile:80/21;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIy9kIpA9S"
        class="gIy9kIpA9S"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:5px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls:-0.5px;--c:rgba(11, 31, 63, 0.8);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIy9kIpA9S_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-596241764663362540 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596241764596057068&sectionId=596241764663362540)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJsQCTJ3m8_text","label":"ggJsQCTJ3m8_text","default":"<span style=\"color:#0B1F3F;\">5 REASONS WHY OMNIS TIGHTENS </span><span style=\"color:#0055B5;\">\"TURKEY NECK\"</span><span style=\"color:#0B1F3F;\"> WITHOUT COMPLICATED ROUTINES</span>"},{"type":"html","id":"gg2Um2avdaF_text","label":"gg2Um2avdaF_text","default":"<p><span style=\"background-color:rgb(254,255,251);color:rgba(11,31,63,0.8);font-size:15px;\"><strong>Dr. Marco Filomeno</strong></span></p>"},{"type":"html","id":"ggIy9kIpA9S_text","label":"ggIy9kIpA9S_text","default":"<p><strong>Certified Pharmacist</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}