<div class="as-seen-on-section">
  <p class="heading">{{ section.settings.heading }}</p>

  <div class="logos">
    {% for block in section.blocks %}
      <div class="logo-item">
          {{
      block.settings.svg_desktop 
      | image_url: width: section.settings.image_width 
      | image_tag: 
        loading: 'lazy', 
        alt: block.settings.image_alt,
        class: 'step-image'
    }}
        </div>

        <div class="logo-mobile">
           {{
      block.settings.svg_mobile 
      | image_url: width: section.settings.image_width 
      | image_tag: 
        loading: 'lazy', 
        alt: block.settings.image_alt,
        class: 'step-image'
    }}
        </div>

      </div>
    {% endfor %}
  </div>
</div>

<style>
.as-seen-on-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
      background: #F4F5F4;
padding: 64px 200px;
}
.as-seen-on-section p{
margin:0;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 39px; /* 177.273% */
letter-spacing: -1px;
color: #17162E;
}
/* Logos layout */
.logos {
  display: flex;
  gap: 91px;
  flex-wrap: wrap;
}

/* Default: Desktop visible */
.logo-mobile {
  display: none;
}

.logo-desktop svg,
.logo-mobile svg {
  max-height: 30px;
  width: auto;
}

{% comment %} Tablet view {% endcomment %}
@media screen and (min-width: 749px)  and (max-width: 1300px) {
 
 .logos {
    gap: 20px;
  }
    .as-seen-on-section {
           padding: 48px 100px;
}
    .as-seen-on-section p{
   font-size: 16px;
}
}

/* Mobile view */
@media screen and (max-width: 749px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .logos {
    gap: 20px;
  }
    .as-seen-on-section {
    align-items:flex-start;
            padding: 0px 20px 36px;
}
    .as-seen-on-section p{
   font-size: 16px;
}
}
</style>
{% schema %}
{
  "name": "As Seen On",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "As seen on"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "svg_desktop",
          "label": "Logo for Desktop"
        },
        {
          "type": "image_picker",
          "id": "svg_mobile",
          "label": "Logo for Mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "As Seen On"
    }
  ]
}
{% endschema %}